<h2>Vanilla HTML form</h2>
<form action="/users" method="post">
  <input type="text" name="user[first_name]">
  <input type="text" name="user[last_name]">
  <button type="submit">Create</button>
</form>
