<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store[0] %></td>
        <td><%= store[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
